@import url('https://fonts.googleapis.com/css?family=Bungee');



body{
    background: linear-gradient(#34405e,#8b94a8) !important;
    color:black !important;
    background-attachment: fixed !important;
}

nav{
    background-color:#354c7e;
    z-index: 100;
}

.blockConnexion{
    text-align:center;
    margin-top:50px;
    font-size: 20px;
}
.divBackground{
    width: 40%;
    margin: auto;
    padding: 20px 0px;
    background: #d5b682;
    border: 3px solid #86753a;
    border-radius: 10px;
    box-shadow: 3px 3px 9px #57595b;
}

.blockConnexion span{
    font-size: 28px;
    margin-bottom: 20px;
}
.blockConnexion form{
    margin-top: 25px;
}
.blockConnexion form input{
    margin:3px 0px 14px 0px;
    width: 300px;
    border-radius: 5px;
    background: #dcdecf;
}

.btnCo{

    background: #9eabcb !important;
    width: 200px !important;
}
.btnDeco{
    width: 122px;
    background: #d5cba2;
    background-image: none;
    height: 31px;
    color: #836400;
    transition: 0.4s all;
}
.btnDeco:hover{
    color: #d5cba2 !important;
    background: #836400 !important;
}

.erreurCo{
    position: absolute;
    left: 41%;
    top: 4%;
    font-size: 17px;
    color: #df1e1e;
}

.titreNav{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.titre{
    color: black;
    font-family: 'Bungee', cursive;
    font-size: 20px;
}

.nomSite{
    color:black;
}
.nomSite:hover{
    color:black;
    text-decoration: none;
}
.blockmenu{
    margin-top: -2%;
    margin-left: -15px;
}
.menu {
    padding-top:8%;
    list-style:none;
    width: 150px;
    background-color: #304572cc;
    padding-left:25px;
    height: 155%;
    position: fixed;
    margin-top:-7%;
    box-shadow: 2px 0px 11px #6e6e6e;
    top: 10%;
}

.menu a{
    color:#a98102;
    transition: 0.2s;
}
.menu a:hover{
    color:#ffc200;
    text-decoration: none;
}

.liste {
    /*padding-top: 5px;*/
    font-size:20px;
}

.liste ul{
    /*padding-top: 3px;*/
    padding-left: 20px;
    list-style: initial;
    font-size:15px;

}

HR{
    margin:10px 0 10px -25px !important;
}

.valid{
    background-color:#265a88;
    color:white;
    position: fixed;
    top: 88%;
    right: 22%;
    transition:0.2s;
}
.valid:hover{
    color: white !important;
    border-radius:10px;
}

.blockCombox{
    width:80%;
    margin-left: 15%;
    text-align:center;
}
select{
    width:55%;
}
select:focus{
    box-shadow: 0px 0px 4px white;
}

.selection{
    margin: 20px 0px;
    /*text-align: center;*/
}

.ligne{
    border-top: 1px solid gray;
    padding: 5px 0px;
}


.btnmenu:hover{
    font-size:20px;
    cursor:pointer;
    z-index: 5;
    transform: rotate(360deg);
}


.blockTable{
    position:relative;
}
.scroll{
    width: 66%;
    height: 471px;
    margin-left: 20%;
    font-size: 16px;
    overflow: auto;
}


.nomCol{
    font-weight: bold;
}

.sortTable{
    cursor: pointer;
}
/*.table-striped > tbody > tr:nth-of-type(2n+1){
    background-color: red !important;  pour changer la couleur une fois sur 2
}*/

.blockFormCrea{
    width:65%;
    margin:auto;
    text-align: center;
}
.blockFormCrea span{
    font-size: 20px;
    font-weight: bold;
}
.blockFormCrea form{
    margin-top:20px;
}
.tableCrea{
    margin:auto;
}
.tableCrea tr{
    height:40px;
}
.tableCrea input{
    width:400px;
}
.tableCrea select{
    width:370px;
}
input:focus{
    box-shadow: 0px 0px 4px white;
}