@import url('https://fonts.googleapis.com/css?family=Bungee');



body{
    background: linear-gradient(#34405e,#8b94a8) !important;
    color:black !important;
    background-attachment: fixed !important;
}

nav{
    background-color:#354c7e;
    z-index: 100;
}
.titreNav{
    padding-top: 15px;
    padding-bottom: 15px;
    /*background-color: grey;*/
    text-align: center;
}

.titre{
    color: black;
    font-family: 'Bungee', cursive;
    font-size: 20px;
}
.blockmenu{
    margin-top: -2%;
    margin-left: -15px;
}
.menu {
    padding-top:8%;
    list-style:none;
    width: 150px;
    background-color: #304572cc;
    padding-left:25px;
    height: 155%;
    position: fixed;
    margin-top:-7%;
    box-shadow: 2px 0px 11px #6e6e6e;
}

.liste {
    /*padding-top: 5px;*/
    font-size:20px;
}

.liste ul{
    /*padding-top: 3px;*/
    padding-left: 20px;
    list-style: initial;
    font-size:15px;

}

HR{
    margin:10px 0 10px -25px !important;
}

.valid{
    background-color:#265a88;
    color:white;
    position: fixed;
    top: 88%;
    right: 22%;
}

.blockCombox{
    width:80%;
    margin-left: 15%;
    text-align:center;
}
select{
    width:55%;
}
select:focus{
    box-shadow: 0px 0px 4px white;
}

.selection{
    margin: 20px 0px;
    /*text-align: center;*/
}

.ligne{
    border-top: 1px solid gray;
    padding: 5px 0px;
}


.btnmenu:hover{
    font-size:20px;
    cursor:pointer;
    z-index: 5;
    transform: rotate(360deg);
}


.blockTable{
    position:relative;
}
.scroll{
    width: 66%;
    height: 471px;
    margin-left: 20%;
    font-size: 16px;
    overflow: auto;
}


.nomCol{
    font-weight: bold;
}

.sortTable{
    cursor: pointer;
}
/*.table-striped > tbody > tr:nth-of-type(2n+1){
    background-color: red !important;  pour changer la couleur une fois sur 2
}*/

